[flake8]
# Conflicts with formatter
ignore =
    E203,
    W503,
    D401,
    W504,
    D204,
    E125,
    E262, # Conflicts with odd type comments
    D100, D101, D102, D104, D107 # Missing docstrings

max-line-length = 89
max-complexity = 18

exclude=['run*', 'agents/boulware_agent', 'agents/conceder_agent', 'agents/custom_agents', 'agents/hardliner_agent,' 'agents/linear_agent', 'agents/random_agent', 'agents/randomp', 'agents/stupid_agent', 'agents/template_agent', 'agents/time_dependent_agent']
# Select the formatter used to display errors to the user.
format = default
count = True
#show-source = True
#statistics = True
doctests = True
